[project]
	description = Example for page_record
[access "refs/*"]
	owner = group user/Bert Hajee (hajee)
[access "refs/for/refs/*"]
	read = group user/Bert Hajee (hajee)
	push = group user/Bert Hajee (hajee)
	label-Code-Review = -2..+2 group user/Bert Hajee (hajee)
	label-Verified = -1..+1 group user/Bert Hajee (hajee)
	rebase = group user/Bert Hajee (hajee)
	removeReviewer = group user/Bert Hajee (hajee)
	submit = group user/Bert Hajee (hajee)
[access "refs/heads/*"]
	read = group user/Bert Hajee (hajee)
	create = group user/Bert Hajee (hajee)
	push = +force group user/Bert Hajee (hajee)
	pushMerge = group user/Bert Hajee (hajee)
[access "refs/tags/*"]
	push = +force group user/Bert Hajee (hajee)
	pushTag = group user/Bert Hajee (hajee)
	pushSignedTag = group user/Bert Hajee (hajee)
